/* Main container */
.dash-widget-container {
  padding: 12px;
}

/* Music player widget */
.music-player-widget {
  background-color: #222226;
  border-radius: 16px;
}

.music-album-art {
  width: 28px;
  height: 28px;
  margin: 0px 12px;
}

.music-artist {
  font-size: .75em;
}

.music-title {
  max-width: 120px;
  font-size: 1em;
  text-overflow: ellipsis;
}

.music-controls {
  margin: 0px 6px;
}

.music-play-icon,
.music-pause-icon,
.music-next-icon {
  width: 16px;
  height: 16px;
  margin: 0px 6px;
}
